/* Image by 652234 from Pixabay 
   Image by Madun Digital from Pixabay *Coffee shop
   Photo by Luis Boza on Unsplash *Sky */
@font-face {
    font-family: logo-font;
    src: url(./fonts/Unique.ttf);
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #94a3b8;
} 


.head-contain {
    display: grid;
    justify-items: center;
    background-image: url(./img/sky2.jpg);
    background-size:cover;
    grid-template-rows: 1fr 1fr;
    width: 70vw;
    height: 15vh;
    border: none;
    border-bottom: none;
    margin-bottom: 0;
    background-color: 0, 0, 0, 0.25;
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 100px;
    grid-row: 2 / 2;
   }

.logo {
    border: solid white 7px;
    width: 500px;
    height: 100px;
    border-radius: 50% 50%;
    padding-top: 10px;
    grid-row: 1 / 1;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: logo-font;
    font-size: 20px;
    font-weight: 600;
}


.logo:first-line {
    font-size:40px;
  }

nav button {
    position: relative;
    width: 100px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: -3%;
    border: inset #cbd5e1 2px;
    border-radius: 0 0 15% 15%;
    z-index: 10;
    background-color: rgb(0, 0, 0, 0.25);
}

button:hover, button:focus {
    box-shadow: 0 6px 6px  rgba(247, 244, 244, 0.4); 
    background-image: url(./img/sky2.jpg);
    background-size:cover;
  }

button:active {
    background-image: url(./img/sky2.jpg);
    background-size:cover;
}

#content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(./img/cakes.jpg) no-repeat 0 50%;
    background-size: cover;
    opacity: 0.5;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: none;
    width: 70vw;
    height: 83vh;
    z-index: 1;
    position: relative;
    align-content: space-around;
    justify-content: center;
}

#content div {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    border-radius: 10%;
    font-size: 20px;
    border: solid white;
    padding: 10px;
    width: 18em;
    height: 10em;
    margin-bottom: 0;
}

div p {
    font-weight: 600;
    font-size: 30px;
}

#content .contact-page {
    width: 40em;
    height: 20em;
    text-align: center;
    vertical-align: middle;
    border: none;
}

#content .homeDiv{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    width: 40em;
    height: 27em;
    border: none;
}

#content .homeDiv .textDiv {
    width: 40em;
    height: 25em;
    font-weight: 400;
    justify-self: flex-end;
    text-align: left;
    align-self:center;
    border: none;
    margin-bottom: 5px;
}

#content .homeDiv .textDiv p{
    font-size: 20px;
}

#content .homeDiv .refer {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 40%;
}





